.PostCard {
    width: 30%;
    margin: 10px;
    background-color: lightgreen;
    border: 1px solid lightgreen;
    border-radius: 5px;
}

.PostCard-Title {
    height: 30px;
    margin-left: 10px;
}

.PostCard-Body {
    margin-left: 10px;
    margin-right: 5px;
}

.PostCard-Tags {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.Title-Paragraph {
    font-weight: bold;
    margin-top: 8px;
}

.Tag-Paragraph, .Body-Paragraph {
    margin-top: 1px;
    margin-right: 5px;
}